body{
	background-color: #fbfffc;
}

/*Inicio Header*/
.header{
	padding: 10px 5px;
	background-color: #6ce288;
	border-bottom: 4px solid #47c164;
}

.header p{
	margin: -5px 0px -15px;
	padding: 8px 65px;
	font-size: 20pt;
	font-family: Times, serif;
	font-weight: bold;
}

.header small{
	color: #00000078;
}
/*Fim Header*/

.mar-top-40{
	margin-top: 40px;
}

.mar-bot-40{
	margin-bottom: 40px;
}

/*Inicio Table*/

.container-table{
	width: 1290px;
}

.table-mod{
	background-color:#FFF;
    border-style: double;
    border-width: 3px 3px 3px 3px;
}
/*Fim Table*/
/*Inicio Busca*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/*Fim Busca*/
/*Inicio Tabela*/
.mar-top-50{
	margin-top: 50px;
}
.table-mod tr,th{ 
	border-right: 1px solid #ddd; 
	text-align: center;
}

.table-mod tr,td{ 
	border: 1px solid #ddd; 
}

/*Fim Tabela*/
/*Inicio Footer*/
.footer {
	background-color: #6CE288;
	position:fixed; 
	bottom:0; 
	width:100%;
}

.footer p#text-footer{
	padding: 2px 0px 2px;
	margin: 0px;
	font-weight: bold;
	font-size: 10px;
}
/*Fim Footer*/
